.movie-list__container {
    text-align: center;
    font-family: Helvetica;
    margin: 3px;
}

.movie-list__list {
    list-style: none
}

.movie-list__items > li {
    font-size: 16px;
    padding: 10px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.movie-list__item:hover {
    background: grey;
}

.movie-list__container ul {
    list-style: none;
    display: flex;
    justify-content: center;
}