.card__user-card-container {
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: Helvetica;
    margin: 3px;
}

.card__hidden-content {
    display: none;
}

.card__details-btn {
    background-color: #dedede;
    display: flex;
    padding: 6px;
    margin: 8px auto;
}